<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970429460081-rrp65lbvd7dg6hduvh2oq7rcfq7k922r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970429460081-rrp65lbvd7dg6hduvh2oq7rcfq7k922r</string>
	<key>API_KEY</key>
	<string>AIzaSyA6mLJldGkXtS8r_ZYtuUPfCUZrpK_mEJo</string>
	<key>GCM_SENDER_ID</key>
	<string>970429460081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.signIn</string>
	<key>PROJECT_ID</key>
	<string>crud-firebase-f8db5</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-firebase-f8db5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970429460081:ios:ec621a76824f6ac714b5d0</string>
</dict>
</plist>